name: provider_starting_app
description: Starting point of a provider application.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev
version: 1.0.0+1

environment:
  sdk: ">=2.16.1 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter

  cupertino_icons: ^1.0.4
  intl: ^0.17.0
  provider: any
  shared_preferences: ^2.0.13
  devicelocale: ^0.5.1
  get_it: ^7.2.0
  fluent_ui: any

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^1.0.4
  build_runner: ^2.1.10

flutter:
  generate: true
  uses-material-design: true

  assets:
    - assets/

